body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Fredoka One', sans-serif;
  background-color: #87CEFA;
}

#saved-food-list {
  width: 60%;
  margin: 0 auto;
}

table {
  margin: 0 auto;
}

.search-box {
  width: 40%;
  height: 20px;
}

.cal1 {
  color: tomato;
}

.cal2 {
  color: #00FF00;
}

.input-section {
  margin-top: 20px;
}

a {
    text-decoration: none;
}

.search-icon {
  font-size: 1.5em;
}

#search-button {
  width: 30px;
  padding: 2px 2px;
  background-color: #00FF00;
  border: 1px solid;
  border-radius: 50%;
}

#search-list {
  margin-top: 0px;
  padding: 0;
}

li {
  list-style: none;
  width: 100%;
}

.result-item,
.close-list {
  width: 50%;
  background-color: #00FF00;
  border: 1px solid;
  font-size: 14px;
  border-radius: 10px;
}

.close-list {
  background-color: black;
  color: white;
}

.result-item:hover {
  background-color: red;
}

.saved-item-list,
.calories {
  background-color: #00FF00;
  border: 1px solid;
  border-radius: 10px;
}

.remove-item {
  background-color: red;
  border: 1px solid;
  border-radius: 50%;
}

.remove-item-head {
  display:none;
}

.calories-head {
  border-radius: 50%;
  padding: 8px;
}